body {
  font-size:137.5%;
  font-family:'krabby', 'Open Sans', 'Segoe UI Light', Segoe UI, Verdana;
  background:#191919;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

@font-face {
  font-family: 'krabby';
  src: url('/static/krabbypatty.ttf');
}

a,a:visited {
  color:inherit;
  text-decoration:underline;
  text-decoration-color:#FF6600;
}

a:hover, a:active {
  color:#FF6600;
  -webkit-transition:all .5s ease;
  -moz-transition:all .5s ease;
  -ms-transition:all .5s ease;
  -o-transition:all .5s ease;
  transition:all .5s ease;
}

img {
  max-width: 100%;
  margin: 1em;
}
